@import "settings";
@import "foundation";

$white: #fff;
$gray: #ebebeb;
$bg-alpha: rgba(0,0,0,0.45);
$darkgray: #1a1a1a;

/**
 * Base Styles
 */

// Typography
html,body,h1,h2,h3,h4,h5,h6,p,a,label,select {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}
h6 {
  font-weight: 400;
}

// Button
.button {
  background: transparent;
  border: 2px solid $white;
  border-radius: 4px;
  margin: 0 10px;

  color: $white;
  font-size: 0.875em;
  font-weight: 300;
  text-transform: uppercase;

  &.small {
    padding-top: 0.750rem;
    padding-right: 1.75rem;
    padding-bottom: 0.750rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
  }

  &.no-border {
    border: none;
  }

  &:focus {
    background-color: transparent;
  }

  &.black {
    width: 130px!important;
    border-radius: 200px;
    padding-top: 40px;
    height: 130px;
    border:none;
    border-bottom: 10px solid rgba(255, 255, 255, 0.25);
    color: white;
    font-weight: 900;
    letter-spacing: 0.5px;
    background: rgba(0,0,0,0.8);
    transition: all 0.2s;
    text-align: center;

    &:hover {
      padding-top: 50px;
      font-size:13px;
      background: rgba(0,0,0,0.2);
      transition: all 0.2s;

      border-bottom: 2px solid #000000;
      color:black;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

/**
 * Main Layout
 */

html {
  background: $black;
  background-size: cover;
}
body {
  background: $bg-alpha;
}

//More FAQ
.more-faq {
  padding: 18px 40px;
  text-align: center;
 
  font-size: 18px;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;

  a.button {
    padding: 5px 10px;
    margin-left: 20px;
  }
}


// Top Bar
.banner {
  height: 80px;
  padding: 25px 20px;
  text-align: center;
  background-color: $darkgray;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;

  a.button {
    padding: 5px 10px;
    margin-left: 20px;
  }
}

.topbar {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0, 0.4);
  padding: 20px 40px;
  height: 80px;
  text-align: center;
  border-bottom: 2px solid #ffffff;

  .left-off-canvas-toggle {
    float: left;
    margin-top: 8px;

    span {
      color: $white;
      margin-right: 5px;
    }
    .menu-text {
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  .logo_txt{
    color: white;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1px;
  }

  .tuk-tuk-logo {
    text-align: center;

    img {
      width: 50px;
      margin-top: -10px;
    }
  }

  .top-bar-buttons {
    float: right;
    .button { margin-left: 6px; margin-right: 0px; }
  }
}

// Main Container
.main-container {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  width: 100%;
  height: 20px;
  overflow-y: auto;
}

.scrollable {
  overflow-y: scroll;
}


.page.row {
  overflow-x: hidden;
  background: rgba(255,255,255,1);
  padding-top:20px;
  padding-bottom: 30px;
  padding: 28px 40px 55px;
  box-shadow: 0 0px 20px 5px rgba(0,0,0,0.35);
}

.about.row .row_left, .about.row .row_right {
  float: left;
  width: 50%;

  .img1 {
    margin-left: 88px;
  }

  .img2 {
    border: 12px solid black;
    margin-top: -25px;
    margin-left: 45px;
    border-radius:500px;
  }
}

// Footer
.footer {
  height: 60px;
  padding: 18px 40px;
  background-color: rgba(0,0,0, 0.65);
  color: $white;

  .copyright {
    float: left;
    p {
      margin-right: 25px;
      display: inline-block;
      font-size: 14px;
      font-weight: 100;
    }
  }

  .contacts {
    float: left;
    a {
      margin-left: 5px;
    }
  }

  .links {
    float: right;
    a {
      color: $white;
      margin: 0 20px;
    }
  }
}

/**
 * Home Page
 */
.content {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 60px;

  .tag-line {
    padding-top: 60px;
    text-align: center;
    padding-bottom: 5px;

    h2 {
      color:$white;
      font-weight: 100;
      font-size: 40px;
      text-transform: uppercase;
    }

    h6 {
      color: $white;
      font-weight: 100;
      font-size: 16.7px;
    }
  }

  .line {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid $white;
  }

  .search-form {
    padding: 30px;
    margin-top: 60px;
    height: 636.656px;
    background: rgba(255,255,255,1);
    border-radius: 1000px;
    box-shadow: 0 0px 20px 5px rgba(0,0,0,0.35);
    text-align: center;

    .search-heading {
      margin-top: 18px;
      margin-bottom: 40px;
      text-align: center;

      h5 > span > i {
        margin-right: 7px;
        font-size: 28px;
      }

      h5 {
        font-weight: 900;
        color:rgba(0,0,0,0.75);
      }
    }

    .option-group {
      display: inline;

      .form-group, .checkbox {
        display: inline-block;
        margin: auto auto;
        width: 90px;
        padding-top: 6px;
      }

      .control-label{
        border-bottom: 2px solid rgba(0,0,0,0.2);
        padding-bottom: 10px;
        padding-top: 20px;
        width: 365px;
        margin: auto auto;
      }
    }

    .form-group > label, .option-group > label {
      //width: 150px;
      margin: 10px 20px 10px 0;
      //display: inline-block;
      font-weight: 400;
    }

    select {
      width: 280px;
      border-radius: 4px;
      //background: rgba(0,0,0,0.23);
      color: #4d4d4d;
      padding-left: 12px;
      border: 1px solid rgba(0,0,0,0.1);
      border-top: 2px solid rgba(0,0,0,0.4);

      height: 45px;
      font-size: 16px;
    }

    label {
      font-size: 0.95rem;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    a.button {
      margin: 42px auto 0 auto;
      display: block;
      width: 50%;

      i {
        margin-left: 5px;
      }
    }
  }
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/**
 * Drivers Page
 **/
.drivers.row {
  background: $white;
  padding: 30px 30px 80px 30px;
  -webkit-box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);
  -moz-box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);
  box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);

  .search-filter {
    height: 80px;
    border-bottom: 1px solid $black;
  }
}

.ember-view.driver-item {
  width: 277px;
  height: 310px;
  margin: 35px 35px 35px 0;
  display: inline-flex;
  background-color: $white;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  &:nth-child(3n+3) {
    margin: 35px 0;
  }

  img.item-bg {
    float: left;
    position: absolute;
    border-radius: 4px;
  }

  .avatar {
    position: absolute;
    top: -45px;
    right: 15px;

    img {
      border-radius: 45px;
    }
  }

  .avatar, .avatar img {
    width: 90px;
    height: 90px;
  }

  .description {
    position: absolute;
    width: 100%;
    min-height: 130px;
    bottom: 0;
    padding: 15px;
    border-radius: 0 0 4px 4px;
    background-color: $gray;

    p {
      font-size: 14px;
      color: $black;
    }
  }
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

/**
 * Driver Profile Page
 */
.profile-page-hero {
  padding-top: 30px;

  iframe {
    margin: 0 auto;
    display: block;
  }
}
.profile-page-fold {
  margin-top: -60px;
  height: 60px;
  background-color: rgba(0,0,0,0.6);
}
.profile-page-body {
  background: url('images/background/bg-blur-23.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;

  .main-content {
    background-color: $white;
    height: 100%;
  }
  .left {
    float: left;
  }
  .right {
    float: right !important;
    margin: 0;
  }

  .left, .right {
    background-color: transparent;
    height: 100%;
    padding: 20px 30px 20px 50px;
    color: $white;

    .section {
      margin-top: 50px;
    }
    .section > a > i {
      margin-right: 10px;
      color: $white;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 400;
      color: $white;
      margin-bottom: 0.5em;

      i { margin-right: 15px; }
    }

    .tag {
      background-color: darkgrey;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 6px;
      margin: 2px;
    }
  }

  .profile-avatar {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: $white;
    margin: -110px auto 0 auto;
    -webkit-box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);
    -moz-box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);
    box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);

    img {
      width: 210px;
      height: 210px;
      border-radius: 105px;
      margin: 5px;
    }
  }
  .profile {
    text-align: center;

    h3 {
      margin-top: 20px;
    }

    .divider {
      width: 30px;
      border: 1px solid $black;
      margin: 0 auto;
    }

    p {
      margin-top: 30px;
    }
  }
}
