@import "settings";
@import "foundation";

$white: #fff;
$gray: #ebebeb;

/**
 * Base Styles
 */

// Typography
html,body,h1,h2,h3,h4,h5,h6,p,a,label,select {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}
h6 {
  font-weight: 400;
}

// Button
.button {
  background: transparent;
  border: 2px solid $white;
  border-radius: 4px;
  margin: 0 10px;

  color: $white;
  font-size: 0.875em;
  font-weight: 300;
  text-transform: uppercase;

  &.small {
    padding-top: 0.750rem;
    padding-right: 1.75rem;
    padding-bottom: 0.750rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
  }

  &.no-border {
    border: none;
  }

  &.black {
    border: 2px solid $black;
    color: $black;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

/**
 * Main Layout
 */

html {
  background: url('images/background/bg-landscape.jpg') no-repeat center center fixed;
  background-size: cover;
}
body {
  background: rgba(255, 255, 255, 0.75);
}

// Top Bar
.topbar {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0, 0.4);
  padding: 20px 40px;
  height: 80px;
  text-align: center;

  .left-off-canvas-toggle {
    float: left; 
    margin-top: 8px;

    span {
      color: $white;
      margin-right: 5px;
    }
    .menu-text {
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  .tuk-tuk-logo {
    text-align: center;
    
    img {
      width: 100px;
    }
  }

  .top-bar-buttons {
    float: right;
  }
}

// Main Container
.main-container {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  width: 100%;
  height: 20px;
  overflow-y: auto;
}

/**
 * Home Page
 */

.content {
  position: absolute;
  top: 10px;
  width: 100%;
  padding-bottom: 60px;
  
  .tag-line {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 5px;
  }

  .line {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid $black;
  }

  .search-form {
    padding: 30px;
    margin-top: 60px;
    height: 350px;
    background: rgba(255,255,255, 0.8);
    border: 1px solid #dedede;
    border-radius: 4px;

   .search-heading {
     margin-bottom: 30px;
   
     h5 > span > i {
      margin-right: 10px;
     }
   }

    .option-group {
      display: inline;
      
      .form-group, .checkbox {
        display: inline-block;
        width: 120px;
      }
    }

    .form-group > label, .option-group > label {
      width: 150px;
      margin: 10px 20px 10px 0;
      display: inline-block;
      font-weight: 400;
    }
   
    select {
      width: 300px;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    a.button {
      margin: 30px auto 0 auto;
      display: block;
      width: 50%;

      i {
        margin-left: 5px;
      }
    }
  }
}

/**
 * Drivers Page
 **/
.drivers.row {
  background: $white;
  padding: 30px 30px 80px 30px;
  margin-bottom: 60px;
  -webkit-box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);
  -moz-box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);
  box-shadow: -2px 0px 10px -1px rgba(125,125,125,0.8);

  .search-filter {
    height: 80px; 
    border-bottom: 1px solid $black;
  }

  .search-results {
    height: 800px;
  }
}

.ember-view.driver-item {
  width: 277px;
  height: 310px;
  margin: 35px 35px 35px 0;
  display: inline-flex;
  background-color: $white;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  &:nth-child(3n+3) {
    margin: 35px 0;
  }

  img.item-bg {
    float: left;
    position: absolute;
    border-radius: 4px;
  }

  .avatar {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -45px;
    right: 15px;

    img {
      border-radius: 45px;
    }
  }

  .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    border-radius: 0 0 4px 4px;
    background-color: $gray;

    p {
      font-size: 14px;
    }
  }
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}
