@import "settings";
@import "foundation";

$white: #fff;

/**
 * Base Styles
 */

// Typography
html,body,h1,h2,h3,h4,h5,h6,p,a,label,select {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}
h6 {
  font-weight: 400;
}

// Button
.button {
  background: transparent;
  border: 2px solid $white;
  border-radius: 4px;
  margin: 0 10px;

  color: $white;
  font-size: 0.875em;
  font-weight: 300;
  text-transform: uppercase;

  &.small {
    padding-top: 0.750rem;
    padding-right: 1.75rem;
    padding-bottom: 0.750rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
  }

  &.no-border {
    border: none;
  }

  &.black {
    border: 2px solid $black;
    color: $black;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

/**
 * Main Layout
 */

html {
  background: url('images/background/bg-landscape.jpg') no-repeat center center fixed;
  background-size: cover;
}
body {
  background: rgba(255, 255, 255, 0.75);
}

// Top Bar
.topbar {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0, 0.4);
  padding: 20px 40px;
  height: 80px;
  text-align: center;

  .left-off-canvas-toggle {
    float: left; 
    margin-top: 8px;

    span {
      color: $white;
      margin-right: 5px;
    }
    .menu-text {
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  .tuk-tuk-logo {
    text-align: center;
    
    img {
      width: 100px;
    }
  }

  .top-bar-buttons {
    float: right;
  }
}

// Main Container
.main-container {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  width: 100%;
  height: 20px;
  overflow-y: auto;
}

/**
 * Home Page
 */

.content {
  position: absolute;
  top: 80px;
  width: 100%;
  padding-bottom: 60px;
  
  .tag-line {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 5px;
  }

  .line {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid $black;
  }

  .search-form {
    padding: 30px;
    margin-top: 60px;
    height: 350px;
    background: rgba(255,255,255, 0.8);
    border: 1px solid #dedede;
    border-radius: 4px;

   .search-heading {
     margin-bottom: 30px;
   
     h5 > span > i {
      margin-right: 10px;
     }
   }

    .option-group {
      display: inline;
      
      .form-group, .checkbox {
        display: inline-block;
        width: 120px;
      }
    }

    .form-group > label, .option-group > label {
      width: 150px;
      margin: 10px 20px 10px 0;
      display: inline-block;
      font-weight: 400;
    }
   
    select {
      width: 300px;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    a.button {
      margin: 30px auto 0 auto;
      display: block;
      width: 50%;

      i {
        margin-left: 5px;
      }
    }
  }
}
