<img class="item-bg" {{bind-attr src=item.bg_url}} alt="">
<div class="description">
  <h5>{{item.name}}</h5>
  <div class="avatar">
    <img class="item-avatar" {{bind-attr src=item.avatar_url}} alt="">
  </div>
  <div class="intro">
    <p>{{item.intro}}</p>
  </div>
</div>
