<div class="tag-line">
<h2>welcome to cambodia</h2>
    </div>
<div class="line"></div>

<div class="row page drivers">
  <div class="small-12 columns">
    <div class="search-results">
      {{#each item in model }}
        {{view "driver-item"}}
      {{/each}}
            
    </div>
  </div>
</div>
