<div class="footer">
  <div class="copyright">
    <p>Copyright © 2015</p>
  </div>

  <div class="links">
    {{#link-to 'faq'}}FAQ{{/link-to}}
    {{#link-to 'team'}}Our Team{{/link-to}}
    {{#link-to 'about'}}About Us{{/link-to}}
  </div>
</div>
