<div class="footer">
  <div class="copyright">
    <p>Copyright © 2015 CambodianSmiles Team</p>
  </div>

 <div class="contacts" >
<a href="https://www.facebook.com/thecambodiansmiles">
  <img src="http://podemosfuenlabrada.info/wp-content/uploads/2014/08/FB-f-Logo__blue_1024.png" style="width:21px;height:21px">
</a>

<a href="https://plus.google.com/u/0/112285295644288489475">
  <img src="https://www.plusyourbusiness.com/wp-content/uploads/2013/11/GooglePlus-Logo-Official.png" style="width:21px;height:21px">
</a>

<a href="mailto:thecambodiansmiles@gmail.com?">
<img src="http://www.gfalls.wednet.edu/wp-content/uploads/2013/11/MailboxImage.jpg" style="width:21px;height:21px">
</a>

</div>

  <div class="links">
    {{#link-to 'faq'}}FAQ{{/link-to}}
    {{#link-to 'team'}}Our Team{{/link-to}}
    {{#link-to 'about'}}About Us{{/link-to}}
  </div>

</div>
