<div class="footer">
  <div class="copyright">
    <p>Copyright © 2015</p>
    <p>CambodianSmiles Team</p>
  </div>

  <div class="contacts" >
    <a href="https://www.facebook.com/thecambodiansmiles">
      <img src="assets/images/fb_ico.png" style="width:21px;height:21px">
    </a>

    <a href="https://plus.google.com/u/0/112285295644288489475">
      <img src="assets/images/gplus_ico.png" style="width:21px;height:21px">
    </a>
      
      <a href="https://plus.google.com/u/0/112285295644288489475">
      <img src="assets/images/twitter_ico.png" style="width:21px;height:21px">
    </a>

    <a href="mailto:thecambodiansmiles@gmail.com?">
      <img src="assets/images/mail_ico.png" style="width:21px;height:21px">
    </a>
  </div>

  <div class="links">
    {{#link-to 'feedback'}}Feedback{{/link-to}}
    {{#link-to 'faq'}}FAQ{{/link-to}}
    {{#link-to 'about'}}About Us{{/link-to}}
  </div>

</div>
