<div id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="max-width:300px;" >
<div class="text-center" style="padding:10px 0;">
<h5><strong><span style="color:#007095;">Social Network Login</span></strong></h5>
</div>
<div><button {{action 'facebookLogin'}} class="login-button radius" >{{fa-icon "facebook" size="lg"}} Login with Facebook</button></div>
<div><button {{action 'googleLogin'}} class="login-button radius">{{fa-icon "google-plus" size="lg"}} Login with Google</button></div>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
