<div id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="max-width:300px;" >
<div style="padding:20px 0;">
<h5>Login with your social network accout</h5>
</div>
<div><button {{action 'facebookLogin'}} class="login-button radius" >Login with Facebook</button></div>
<div><button {{action 'googleLogin'}} class="login-button radius"> Login with Google</button></div>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
