
<script>
    

function hide(target) {
    document.getElementById(target).style.display = 'none';
} 

function cheight(){
    var c_height = document.getElementById('content').clientHeight + document.getElementById('topmenu').height + document.getElementById('sign_banner').height;
    
    document.getElementById('close').onclick=
        hide('sign_banner');
    document.getElementById('content').style.height = c_height + "px"
};
    
    
</script>

<!--<script>
    window.onresize = function() {
var c_height = document.getElementById('content').clientHeight + 80;
  document.getElementById('content').style.height = c_height + "px";
};

</script>-->

<div id="sign_banner" class="banner" >
  <span>Have a Driver to Contribute?</span> 
  <a href="https://docs.google.com/forms/d/144R0Ln0FmIQ1KLk6RI5jl9O_68S3n-RJhXa-ggnNSrY/viewform" class="button">Click here</a>
  <a href="http://www.sojump.com/jq/4948248.aspx" class="button">In China? 点击这里</a>
    <i onclick="cheight()" id="close" class="fa fa-times"></i>
</div>

<div id="topmenu" class="topbar">
    <div class="logo-wrap">
  {{#link-to 'index' classNames="tuk-tuk-logo"}}
    <img src="assets/images/cs_logo.png" alt="">
    <span class="logo_txt">Cambodian  <b>Smiles</b></span>
  {{/link-to}}
    </div>

  <!--
  <a class="left-off-canvas-toggle" href="#" style="display: block">
    <span class="icon-menu">{{fa-icon "bars"}}</span>
    <span class="menu-text">Menu</span>
  </a>

  <div class="top-bar-buttons" style="display: block">
    <a href="#" class="button small no-border">Log In</a>
    <a href="#" class="button small">Sign Up</a>
  </div>
  -->
</div>
