<div class="topbar">
  {{#link-to 'index' classNames="tuk-tuk-logo"}}
    <img src="assets/images/tuktuk-logo.png" alt="">
  {{/link-to}}

  <a class="left-off-canvas-toggle" href="#" style="display: none">
    <span class="icon-menu">{{fa-icon "bars"}}</span>
    <span class="menu-text">Menu</span>
  </a>

  <div class="top-bar-buttons" style="display: none">
    <a href="#" class="button small no-border">Log In</a>
    <a href="#" class="button small">Sign Up</a>
  </div>
</div>
