<div class="banner">
  Have a Driver to Contribute? 
  <a href="https://docs.google.com/forms/d/144R0Ln0FmIQ1KLk6RI5jl9O_68S3n-RJhXa-ggnNSrY/viewform" class="button">Click here</a>
</div>

<div class="topbar">
  <span class="logo_txt"></span>
  {{#link-to 'index' classNames="tuk-tuk-logo"}}
    <img src="assets/images/cs_logo.png" alt="">
    <span class="logo_txt">Cambodian  <b>Smiles</b></span>
  {{/link-to}}

  <!--
  <a class="left-off-canvas-toggle" href="#" style="display: block">
    <span class="icon-menu">{{fa-icon "bars"}}</span>
    <span class="menu-text">Menu</span>
  </a>

  <div class="top-bar-buttons" style="display: block">
    <a href="#" class="button small no-border">Log In</a>
    <a href="#" class="button small">Sign Up</a>
  </div>
  -->
</div>
