 <video autoplay  poster="" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="assets/images/cs_bgvid.webm" type="video/webm">
<source src="assets/images/cs_bgvid.mp4" type="video/mp4">
</video>

<div class="row page about">
  <div class="small-12 columns">
    
      <div class="row_left">
      <h2>What is <b>CambodianSmiles?</b></h2>
    <p><b>CambodianSmiles, is a series of projects that will help to enhance the employment and trade fairness of Cambodian people via Internet technologies and information transparency.</b><br><br>We would like to expose the basic tourism service providers to the Internet and global travelers directly via our platform. Through the series of projects, we hope to see more smiling faces in Cambodia, so that's how the name came from.</p>
<br>
          <h4><b>Phase <span style="font-size:45px;">1</span> Objective</b></h4>
      <p><b>For this phase, we set our target on main transportation service providers, which are the tuk tuk drivers, car or taxi drivers and any other vehicle drivers. </b><br><br>The CambodianSmiles platform will enable global travellers to find and contact local drivers directly in order to make appointments prior arrival. We believe that making the drivers promoted on the Internet and travellers directly will enhance the fairness and transparency of transaction between tourists and drivers.</p> 

    <p>We keep coming up with new ideas and we will keep everyone posted about our plan. <br>Feel free to write to us if you have any feedback.</p>
      </div>
    
      <div class="row_right">
          <img class="img1" src="assets/images/smiles_map.png"/>
           <img class="img2" src="assets/images/about_p1.jpg"/>
      </div>

    </div>
</div>
