<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <!-- Off Canvas Menu -->
    {{partial 'partials/menu'}}

    <!-- Top Bar -->
    {{partial 'partials/topbar'}}
    
    <!-- main content goes here -->
    <div class="main-container">
      {{outlet}}

      <!-- Footer here -->
      {{partial 'partials/footer'}}
    </div>

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>
