<div class="row drivers">
  <div class="small-12 columns">
    <div class="search-filter">
      Search Filter Functions to be implemented.
    </div>

    <div class="search-results">
      {{#each item in model itemController="driver"}}
        {{view "driver-item"}}
      {{/each}}
    </div>
  </div>
</div>
