<div class="row home page">
  <div class="small-12 large-8 large-centered columns">

    <div class="content">
      <div class="tag-line">
        <h2>Find your Driver in Cambodia</h2>
        <h6>We help to connect global travellers to local drivers directly to discover amazing Cambodia.</h6>
      </div>

      <div class="line"></div>

      <div class="search-form">
        {{partial 'partials/search-drivers'}}
      </div>
    </div>

  </div>
</div>
