<div class="row">
  <div class="small-12 large-8 large-centered columns">

    <div class="content">
      <div class="tag-line">
        <h2>Find a Driver in Cambodia</h2>
        <h6>We help connect global travellers to Tuktuks to discover Cambodia.</h6>
      </div>

      <div class="line"></div>

      <div class="search-form">
        {{partial 'partials/search-drivers'}}
      </div>
    </div>

  </div>
</div>
