<script type="text/javascript">
    var vid = document.getElementById("bgvid");
    var pauseButton = document.querySelector("#polina button");

    function vidFade() {
      vid.classList.add("stopfade");
    }

vid.addEventListener('ended', function()
    {
    // only functional if "loop" is removed 
    vid.pause();
    // to capture IE10
    vidFade();
    }); 


pauseButton.addEventListener("click", function() {
    vid.classList.toggle("stopfade");
    if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
    } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
    }
    })
</script>

<div class="row home page">
  <div class="small-12 large-8 large-centered columns">

    <div class="content">
      <div class="tag-line">
        <h2>Find your Driver in Cambodia</h2>
        <h6>We help to connect global travelers to local drivers directly to discover amazing Cambodia.</h6>
      </div>

      <div class="line"></div>

      <div class="search-form">
        {{partial 'partials/search-drivers'}}
      </div>
    </div>

  </div>
</div>
