<div class="row page">
  <div class="small-12 columns">
    <h3><b>Our Team</b></h3>
    <p>We are a team of kind minds from different backgrounds and continents. We would like to use our resources, knowledge and skills to make a positive difference in underprivileged people’s lives.</p>

    <p>Here are the contributors to this project:</p> 

<table style="width:100%">

  <tr>
    <td><b>Name</b></td>
    <td><b>Contacts</b></td>
    <td><b>Memo</b></td>

  </tr>
  <tr>
    <td>Aislinn Chen</td>
    <td>
      <a href="https://www.facebook.com/ya.chen.1840">
      <img src="http://podemosfuenlabrada.info/wp-content/uploads/2014/08/FB-f-Logo__blue_1024.png" style="width:21px;height:21px"></a>
      <a href="https://sg.linkedin.com/in/aislinnchen">
      <img src="http://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" style="width:21px;height:21px"></a>
    </td>  
    <td>Little change creates big difference.</td>
  </tr>

  <tr>
    <td>Kenneth Lim</td>
    <td>
      <a href="https://www.facebook.com/kenneth.ljf">
      <img src="http://podemosfuenlabrada.info/wp-content/uploads/2014/08/FB-f-Logo__blue_1024.png" style="width:21px;height:21px"></a>
      <a href="https://www.linkedin.com/in/kennethlimjf">
      <img src="http://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" style="width:21px;height:21px"></a>
    </td> 
    <td>“The meaning of life is to find your gift. The purpose of life is to give it away.”  ― Pablo Picasso</td>
  </tr>

  <tr>
    <td>Sam Wang</td>
    <td>
      <a href="https://www.facebook.com/wong.shuson">
      <img src="http://podemosfuenlabrada.info/wp-content/uploads/2014/08/FB-f-Logo__blue_1024.png" style="width:21px;height:21px"></a>
      <a href="https://www.linkedin.com/in/shuson">
      <img src="http://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" style="width:21px;height:21px"></a>
    </td> 
    <td>Do one thing, and do it better.</td>
  </tr>

  <tr>
    <td>Erik Berta</td>
    <td>
      <a href="https://www.facebook.com/bertaerik">
      <img src="http://podemosfuenlabrada.info/wp-content/uploads/2014/08/FB-f-Logo__blue_1024.png" style="width:21px;height:21px"></a>
      <a href="https://www.linkedin.com/pub/erik-berta/28/603/1a4">
      <img src="http://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" style="width:21px;height:21px"></a>
    </td>
    
    <td>“The two most important days in your life are the day you are born and the day you find out why.”  ― Mark Twain</td>
  </tr>
</table>


<p>If you are keen to be part of our team, please let us know at <a href="mailto:thecambodiansmiles@gmail.com?">thecambodiansmiles@gmail.com</a> with what makes you interested and how you would like to contribute. We are open and happy to have new members joining the team, to make a more connected and better world.</p>

  </div>
</div>
