<div class="row page">
  <div class="small-12 columns">
    <h3>Our Team</h3>
    <p>Dolor alias deserunt accusamus incidunt numquam incidunt eum explicabo culpa. Vero asperiores non quidem itaque laborum qui aspernatur. Ab voluptatum sed beatae eum neque fugit cum rem necessitatibus! Maxime quod.</p>
    <p>Sit placeat laboriosam perspiciatis neque culpa, iusto modi, accusantium voluptate eum reprehenderit. Nam id ipsam in dolor atque provident accusantium, assumenda alias impedit, pariatur, accusamus. Ducimus perspiciatis laudantium blanditiis neque!</p>
  </div>
</div>
