<div class="row page team">
  <div class="small-12 columns">
    <h1 style="font-size:70px"><b>Our Team</b></h1>
    <p>We are a team of kind minds from different backgrounds and continents. We would like to use our resources, knowledge and skills to make a positive difference in underprivileged people’s lives.</p>

      <p><b>Here are the contributors to this project:</b></p> 

<table style="width:100%">

  <!--<tr>
    <td><b>Name</b></td>
    <td><b>Contacts</b></td>
    <td><b>Memo</b></td>

  </tr>-->
  <tr>
      <td style="font-size:18px;"><td style="font-size:18px;"><div class="avatar">
      <img class="item-avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJLAAAAJDcxOWU0YWU3LWU3OWItNGNmNS04OTI5LTM5MzhjYmZmNTRiYQ.jpg" alt="">
    </div></td></td>
    <td style="font-size:18px;"><b>Aislinn Chen</b></td>
    <td>
      <a href="https://www.facebook.com/ya.chen.1840">
        <i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://sg.linkedin.com/in/aislinnchen">
      <i class="fa fa-linkedin fa-2x"></i></a>
    </td>  
    <td>“Little change creates big difference.”</td>
  </tr>

  <tr>
      <td style="font-size:18px;"><td style="font-size:18px;"><div class="avatar">
      <img class="item-avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/0aa/2e0/195db80.jpg" alt="">
    </div></td></td>
    <td style="font-size:18px;"><b>Kenneth Lim</b></td>
    <td>
      <a href="https://www.facebook.com/kenneth.ljf">
        <i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/kennethlimjf">
      <i class="fa fa-linkedin fa-2x"></i></a>
    </td> 
    <td>“The meaning of life is to find your gift. The purpose of life is to give it away.”  ― Pablo Picasso</td>
  </tr>

  <tr>
      <td style="font-size:18px;"><td style="font-size:18px;"><div class="avatar">
      <img class="item-avatar" src="" alt="">
    </div></td></td>
    <td style="font-size:18px;"><b>Sam Wang</b></td>
    <td>
      <a href="https://www.facebook.com/wong.shuson">
          <i class="fa fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/shuson">
      <i class="fa fa-linkedin fa-2x"></i></a>
    </td> 
    <td>“Do one thing, and do it better.”</td>
  </tr>

  <tr>
      <td style="font-size:18px;"><td style="font-size:18px;"><div class="avatar">
      <img class="item-avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06a/110/107576c.jpg" alt="">
    </div></td></td>
    <td style="font-size:18px;"><b>Erik Berta</b></td>
    <td>
      <a href="https://www.facebook.com/bertaerik">
        <i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://www.linkedin.com/pub/erik-berta/28/603/1a4">
      <i class="fa fa-linkedin fa-2x"></i></a>
    </td>
    
    <td>“The two most important days in your life are the day you are born and the day you find out why.”  ― Mark Twain</td>
  </tr>
</table>
<br>

<p>If you are keen to be part of our team, please let us know at <a href="mailto:thecambodiansmiles@gmail.com?">thecambodiansmiles@gmail.com</a> with what makes you interested and how you would like to contribute. We are open and happy to have new members joining the team, to make a more connected and better world.</p>

  </div>
</div>
