<div class="row page">
  <div class="small-12 columns">
    <h3>Our Team</h3>
    <p>We are a team of kind minds from different backgrounds and continents. We would like to use our resources, knowledge and skills to make a positive difference in underprivileged people’s lives.</p>

    <p>Here are the contributors to this project:</p> 

<table style="width:100%">

  <tr>
    <td>Aislinn Chen</td>
    <td>FB</td> 
    <td>LinkedIn</td>
    <td>Little change creates big difference.</td>
  </tr>

  <tr>
    <td>Kenneth Lim</td>
    <td>FB</td> 
    <td>LinkedIn</td>
    <td>“The meaning of life is to find your gift. The purpose of life is to give it away.”  ― Pablo Picasso</td>
  </tr>

  <tr>
    <td>Sam Wang</td>
    <td>FB</td> 
    <td>LinkedIn</td>
    <td>Do one thing, and do it better.</td>
  </tr>

  <tr>
    <td>Erik Berta</td>
    <td>FB</td> 
    <td>LinkedIn</td>
    <td>“The two most important days in your life are the day you are born and the day you find out why.”  ― Mark Twain</td>
  </tr>
</table>

<p>If you are keen to be part of our team, please let us know at thecambodiansmiles@gmail.com with what makes you interested and how you would like to contribute. We are open and happy to have new members joining the team, to make a more connected and better world.</p>

  </div>
</div>
